In [1]:
import pandas as pd

In [2]:
all_data = pd.read_csv("data/processed/all_data_cleaned_grouped.csv")
all_data.head()

,loan_amnt,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,...,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,term_months,earliest_cr_line_year,earliest_cr_line_month
0,3600.0,13.99,123.03,C,4,10.0,MORTGAGE,55000.0,Not Verified,1,...,2765.0,29.7,13.0,w,Individual,1.0,0.0,36,2003,8
1,24700.0,11.99,820.28,C,1,10.0,MORTGAGE,65000.0,Not Verified,1,...,21470.0,19.2,38.0,w,Individual,4.0,0.0,36,1999,12
2,20000.0,10.78,432.66,B,4,10.0,MORTGAGE,63000.0,Not Verified,1,...,7869.0,56.2,18.0,w,Joint App,5.0,0.0,60,2000,8
3,35000.0,14.85,829.90,C,5,10.0,MORTGAGE,110000.0,Source Verified,1,...,7802.0,11.6,17.0,w,Individual,1.0,0.0,60,2008,9
4,10400.0,22.45,289.91,F,1,3.0,MORTGAGE,104433.0,Source Verified,1,...,21929.0,64.5,35.0,w,Individual,6.0,0.0,60,1998,6

In [5]:
all_data_cols = all_data.columns.to_list()
all_data_cols

['loan_amnt',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'loan_status',
 'purpose',
 'title',
 'addr_state',
 'dti',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'application_type',
 'mort_acc',
 'pub_rec_bankruptcies',
 'term_months',
 'earliest_cr_line_year',
 'earliest_cr_line_month']

## Data Dictionary

In [118]:
data_dict = {"loan_amnt": "Loan amount applied for by borrower (in $). Numerical values",
             "int_rate": "Estimated interest rate on loan (%). Numerical values",
             "installment": "Monthly installments owed (in $). Numerical values",
             "grade": "Estimated loan grade (A,B,C...) where higher grade (e.g. A) indicates less risk, whereas a lower grade (e.g. D) indicates higher risk. Ordinal categorical values",
             "sub_grade": "Estimated loan sub-grade. Ordinal categorical values",
             "emp_length": "Employment length of borrower, in years. Numerical values",
             "home_ownership": "Home ownership status of borrower. Categorical values",
             "annual_inc": "Annual income of borrower (in $). Numerical values",
             "verification_status": "Income verification status. Categorical values",
             "purpose": "Category provided by borrower for the loan request. Categorical values",
             "title": "Loan title provided by the borrower. Categorical values",
             "addr_state": "Residence state of borrower. Categorical values",
             "dti": "Monthly debt-to-income ratio of borrower. Ratio values",
             "open_acc": "Number of borrower's open credit lines. Numerical values",
             "pub_rec": "Number of borrower's derogatory public records. Numerical values",
             "revol_bal": "Total credit revolving balance of borrower. Numerical values",
             "revol_util": "Revolving line utilization rate of borrower (in %). Numerical values",
             "total_acc": "Total number of borrower's credit lines. Numerical values",
             "initial_list_status": "Initial listing status of loan. Categorical values",
             "application_type": "Individual or joint application. Categorical values",
             "mort_acc": "Number of mortgage accounts of borrower. Numerical values",
             "pub_rec_bankruptcies": "Number of public record bankruptices of borrower. Numerical values",
             "term_months": "Number of monthly payments in loan. Numerical values",
             "earliest_cr_line_year": "Year that borrower's earliest credit line was opened. Date values",
             "earliest_cr_line_month": "Month that borrower's earliest credit line was opened. Date values"
            }

### Add percentiles

In [111]:
num_features = ["loan_amnt", "int_rate", "installment", "emp_length", "annual_inc", "dti", "revol_bal", "revol_util", "total_acc"]
temp_dict = all_data[num_features].describe().T.reset_index().to_dict(orient = "records")
temp_dict

[{'index': 'loan_amnt',
  'count': 2257879.0,
  'mean': 15054.257314054474,
  'std': 9190.851670618138,
  'min': 500.0,
  '25%': 8000.0,
  '50%': 12950.0,
  '75%': 20000.0,
  'max': 40000.0},
 {'index': 'int_rate',
  'count': 2257879.0,
  'mean': 13.091487440203839,
  'std': 4.833962734424342,
  'min': 5.31,
  '25%': 9.49,
  '50%': 12.62,
  '75%': 15.99,
  'max': 30.99},
 {'index': 'installment',
  'count': 2257879.0,
  'mean': 445.99411289533225,
  'std': 267.1840144803648,
  'min': 4.93,
  '25%': 251.77,
  '50%': 378.2,
  '75%': 593.49,
  'max': 1719.83},
 {'index': 'emp_length',
  'count': 2257879.0,
  'mean': 5.589614855357617,
  'std': 3.825203251615428,
  'min': 0.0,
  '25%': 2.0,
  '50%': 5.0,
  '75%': 10.0,
  'max': 10.0},
 {'index': 'annual_inc',
  'count': 2257879.0,
  'mean': 78000.48762676389,
  'std': 112739.70067767128,
  'min': 0.0,
  '25%': 46000.0,
  '50%': 65000.0,
  '75%': 93000.0,
  'max': 110000000.0},
 {'index': 'dti',
  'count': 2256168.0,
  'mean': 18.829891719056373,
  'std': 14.188785470686204,
  'min': -1.0,
  '25%': 11.9,
  '50%': 17.84,
  '75%': 24.5,
  'max': 999.0},
 {'index': 'revol_bal',
  'count': 2257879.0,
  'mean': 16645.47094197696,
  'std': 22862.079323778544,
  'min': 0.0,
  '25%': 5954.5,
  '50%': 11327.0,
  '75%': 20245.0,
  'max': 2904836.0},
 {'index': 'revol_util',
  'count': 2256117.0,
  'mean': 50.33471911696066,
  'std': 24.708012993957766,
  'min': 0.0,
  '25%': 31.5,
  '50%': 50.3,
  '75%': 69.3,
  'max': 892.3},
 {'index': 'total_acc',
  'count': 2257879.0,
  'mean': 24.16444769626716,
  'std': 11.984637311948866,
  'min': 2.0,
  '25%': 15.0,
  '50%': 22.0,
  '75%': 31.0,
  'max': 176.0}]

In [119]:
pct_dict = {}
for feat in temp_dict:
    pct_dict[feat["index"]] = {"25th percentile": feat["25%"], "50th percentile": feat["50%"], "75th percentile": feat["75%"]}

pct_dict

{'loan_amnt': {'25th percentile': 8000.0,
  '50th percentile': 12950.0,
  '75th percentile': 20000.0},
 'int_rate': {'25th percentile': 9.49,
  '50th percentile': 12.62,
  '75th percentile': 15.99},
 'installment': {'25th percentile': 251.77,
  '50th percentile': 378.2,
  '75th percentile': 593.49},
 'emp_length': {'25th percentile': 2.0,
  '50th percentile': 5.0,
  '75th percentile': 10.0},
 'annual_inc': {'25th percentile': 46000.0,
  '50th percentile': 65000.0,
  '75th percentile': 93000.0},
 'dti': {'25th percentile': 11.9,
  '50th percentile': 17.84,
  '75th percentile': 24.5},
 'revol_bal': {'25th percentile': 5954.5,
  '50th percentile': 11327.0,
  '75th percentile': 20245.0},
 'revol_util': {'25th percentile': 31.5,
  '50th percentile': 50.3,
  '75th percentile': 69.3},
 'total_acc': {'25th percentile': 15.0,
  '50th percentile': 22.0,
  '75th percentile': 31.0}}

### Construct text file

In [120]:
data_dict_doc = """The following lines include the features present to make a decision whether the borrower will make good on the loan or default. \
For each feature it's identifier name in the dataset, description and type of values are mentioned. Certain features also have percentile information available:\n"""

for feat in data_dict:
    data_dict_doc += f"{feat}: {data_dict.get(feat)}."

    if feat in pct_dict:
        data_dict_doc += " The percentiles are as follows:"
        for pct in pct_dict[feat]:
            if pct == "75th percentile":
                data_dict_doc += f""" the {pct} is {pct_dict[feat][pct]}\n"""
            else:
                data_dict_doc += f""" the {pct} is {pct_dict[feat][pct]},"""
    else:
        data_dict_doc += "\n"

print(data_dict_doc)

The following lines include the features present to make a decision whether the borrower will make good on the loan or default. For each feature it's identifier name in the dataset, description and type of values are mentioned. Certain features also have percentile information available:
loan_amnt: Loan amount applied for by borrower (in $). Numerical values. The percentiles are as follows: the 25th percentile is 8000.0, the 50th percentile is 12950.0, the 75th percentile is 20000.0
int_rate: Estimated interest rate on loan (%). Numerical values. The percentiles are as follows: the 25th percentile is 9.49, the 50th percentile is 12.62, the 75th percentile is 15.99
installment: Monthly installments owed (in $). Numerical values. The percentiles are as follows: the 25th percentile is 251.77, the 50th percentile is 378.2, the 75th percentile is 593.49
grade: Estimated loan grade (A,B,C...) where higher grade (e.g. A) indicates less risk, whereas a lower grade (e.g. D) indicates higher risk. Ordinal categorical values.
sub_grade: Estimated loan sub-grade. Ordinal categorical values.
emp_length: Employment length of borrower, in years. Numerical values. The percentiles are as follows: the 25th percentile is 2.0, the 50th percentile is 5.0, the 75th percentile is 10.0
home_ownership: Home ownership status of borrower. Categorical values.
annual_inc: Annual income of borrower (in $). Numerical values. The percentiles are as follows: the 25th percentile is 46000.0, the 50th percentile is 65000.0, the 75th percentile is 93000.0
verification_status: Income verification status. Categorical values.
purpose: Category provided by borrower for the loan request. Categorical values.
title: Loan title provided by the borrower. Categorical values.
addr_state: Residence state of borrower. Categorical values.
dti: Monthly debt-to-income ratio of borrower. Ratio values. The percentiles are as follows: the 25th percentile is 11.9, the 50th percentile is 17.84, the 75th percentile is 24.5
open_acc: Number of borrower's open credit lines. Numerical values.
pub_rec: Number of borrower's derogatory public records. Numerical values.
revol_bal: Total credit revolving balance of borrower. Numerical values. The percentiles are as follows: the 25th percentile is 5954.5, the 50th percentile is 11327.0, the 75th percentile is 20245.0
revol_util: Revolving line utilization rate of borrower (in %). Numerical values. The percentiles are as follows: the 25th percentile is 31.5, the 50th percentile is 50.3, the 75th percentile is 69.3
total_acc: Total number of borrower's credit lines. Numerical values. The percentiles are as follows: the 25th percentile is 15.0, the 50th percentile is 22.0, the 75th percentile is 31.0
initial_list_status: Initial listing status of loan. Categorical values.
application_type: Individual or joint application. Categorical values.
mort_acc: Number of mortgage accounts of borrower. Numerical values.
pub_rec_bankruptcies: Number of public record bankruptices of borrower. Numerical values.
term_months: Number of monthly payments in loan. Numerical values.
earliest_cr_line_year: Year that borrower's earliest credit line was opened. Date values.
earliest_cr_line_month: Month that borrower's earliest credit line was opened. Date values.

In [121]:
with open("rag_docs/data_docs/data_dict.txt", "w") as f:
    f.write(data_dict_doc)

## State-wise information

In [16]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "Virgin Islands, U.S.": "VI",
}

# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

In [26]:
states = all_data["addr_state"].unique()
states

array(['PA', 'SD', 'IL', 'NJ', 'GA', 'MN', 'SC', 'RI', 'TX', 'NC', 'CA',
       'VA', 'AZ', 'NY', 'IN', 'MD', 'KS', 'NM', 'AL', 'WA', 'MO', 'OH',
       'LA', 'FL', 'CO', 'MI', 'TN', 'DC', 'MA', 'WI', 'HI', 'VT', 'DE',
       'NH', 'NE', 'CT', 'OR', 'AR', 'MT', 'NV', 'WV', 'WY', 'OK', 'KY',
       'MS', 'ME', 'UT', 'ND', 'AK', 'ID', 'IA'], dtype=object)

In [71]:
state_df = all_data.groupby(by = ["addr_state"], as_index= False).aggregate({"annual_inc": "median", "loan_amnt": "median", "dti": "median", "loan_status": "count"})
state_df["default_loan_count"] = all_data.loc[all_data["loan_status"] == 0].groupby(by = "addr_state", as_index=False)["loan_status"].count()["loan_status"]
state_df["default_rate"] = round(state_df["default_loan_count"] * 100 / state_df["loan_status"], 2)
state_df["State"] = state_df["addr_state"].map(lambda x: abbrev_to_us_state.get(x))
#[state_wise_cols].mean().round(2)
# state_df["total_counts"] = all_data.groupby(by = ["addr_state"], as_index= False)["loan_status"].count()
# state_df["default rate"] = all_data.loc[all_data["loan_status"] == 0].groupby(by = ["addr_state"], as_index= False)["loan_status"].count()
state_df.drop(columns = ["loan_status", "default_loan_count", "addr_state"], inplace = True)
state_df

    annual_inc  loan_amnt     dti  default_rate                 State
0     72000.00    15850.0  18.395         13.18                Alaska
1     60441.52    12150.0  19.990         15.76               Alabama
2     57000.00    12000.0  20.190         15.46              Arkansas
3     62000.00    12000.0  17.970         13.02               Arizona
4     70000.00    13000.0  16.110         13.42            California
5     65000.00    13000.0  17.690         10.45              Colorado
6     70000.00    13000.0  16.740         10.71           Connecticut
7     82000.00    14087.5  14.780          9.47  District of Columbia
8     65000.00    12500.0  18.670         12.57              Delaware
9     60000.00    12000.0  18.070         14.04               Florida
10    65000.00    13250.0  18.490         11.88               Georgia
11    65000.00    14400.0  18.830         13.96                Hawaii
12    45000.00     7200.0  16.490         14.29                  Iowa
13    55000.00    12000.0  19.140          8.59                 Idaho
14    68000.00    14000.0  17.700         11.21              Illinois
15    60000.00    12100.0  19.310         13.48               Indiana
16    60000.00    12750.0  19.470         10.73                Kansas
17    60000.00    12000.0  19.295         13.38              Kentucky
18    65000.00    12700.0  19.100         15.17             Louisiana
19    70000.00    14000.0  16.310         12.50         Massachusetts
20    75000.00    14400.0  17.400         13.71              Maryland
21    59860.00    12000.0  19.885          6.45                 Maine
22    60522.00    12000.0  18.410         13.25              Michigan
23    62000.00    12000.0  18.370         13.03             Minnesota
24    60000.00    12000.0  19.150         13.76              Missouri
25    60000.00    12000.0  20.150         15.49           Mississippi
26    55000.00    12000.0  19.370         11.10               Montana
27    60500.00    12500.0  18.520         13.72        North Carolina
28    60000.00    14000.0  20.140         10.55          North Dakota
29    55612.00    12000.0  19.365         12.88              Nebraska
30    66000.00    12800.0  18.590          9.51         New Hampshire
31    74500.00    14300.0  16.350         13.46            New Jersey
32    62000.00    12850.0  19.950         14.25            New Mexico
33    62000.00    12000.0  18.100         14.65                Nevada
34    66000.00    12300.0  15.810         14.33              New York
35    60000.00    12000.0  19.420         12.87                  Ohio
36    62000.00    13000.0  19.540         15.23              Oklahoma
37    60000.00    12000.0  17.360          9.66                Oregon
38    62499.00    12125.0  18.870         13.46          Pennsylvania
39    65000.00    12000.0  16.910         11.56          Rhode Island
40    60500.00    12800.0  19.200         10.32        South Carolina
41    54000.00    12000.0  20.710         13.95          South Dakota
42    60000.00    12050.0  19.620         13.41             Tennessee
43    70000.00    14000.0  18.920         12.92                 Texas
44    63000.00    13000.0  18.430         12.41                  Utah
45    72000.00    14675.0  18.090         13.24              Virginia
46    58955.00    12000.0  19.880          8.43               Vermont
47    66500.00    13800.0  17.660         10.73            Washington
48    60000.00    12000.0  18.980         12.20             Wisconsin
49    60000.00    13000.0  19.810          9.65         West Virginia
50    65000.00    14400.0  20.230         11.19               Wyoming

In [72]:
state_dict = state_df.to_dict(orient = "records")
state_dict

[{'annual_inc': 72000.0,
  'loan_amnt': 15850.0,
  'dti': 18.395,
  'default_rate': 13.18,
  'State': 'Alaska'},
 {'annual_inc': 60441.520000000004,
  'loan_amnt': 12150.0,
  'dti': 19.99,
  'default_rate': 15.76,
  'State': 'Alabama'},
 {'annual_inc': 57000.0,
  'loan_amnt': 12000.0,
  'dti': 20.19,
  'default_rate': 15.46,
  'State': 'Arkansas'},
 {'annual_inc': 62000.0,
  'loan_amnt': 12000.0,
  'dti': 17.97,
  'default_rate': 13.02,
  'State': 'Arizona'},
 {'annual_inc': 70000.0,
  'loan_amnt': 13000.0,
  'dti': 16.11,
  'default_rate': 13.42,
  'State': 'California'},
 {'annual_inc': 65000.0,
  'loan_amnt': 13000.0,
  'dti': 17.69,
  'default_rate': 10.45,
  'State': 'Colorado'},
 {'annual_inc': 70000.0,
  'loan_amnt': 13000.0,
  'dti': 16.74,
  'default_rate': 10.71,
  'State': 'Connecticut'},
 {'annual_inc': 82000.0,
  'loan_amnt': 14087.5,
  'dti': 14.78,
  'default_rate': 9.47,
  'State': 'District of Columbia'},
 {'annual_inc': 65000.0,
  'loan_amnt': 12500.0,
  'dti': 18.67,
  'default_rate': 12.57,
  'State': 'Delaware'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12000.0,
  'dti': 18.07,
  'default_rate': 14.04,
  'State': 'Florida'},
 {'annual_inc': 65000.0,
  'loan_amnt': 13250.0,
  'dti': 18.49,
  'default_rate': 11.88,
  'State': 'Georgia'},
 {'annual_inc': 65000.0,
  'loan_amnt': 14400.0,
  'dti': 18.83,
  'default_rate': 13.96,
  'State': 'Hawaii'},
 {'annual_inc': 45000.0,
  'loan_amnt': 7200.0,
  'dti': 16.49,
  'default_rate': 14.29,
  'State': 'Iowa'},
 {'annual_inc': 55000.0,
  'loan_amnt': 12000.0,
  'dti': 19.14,
  'default_rate': 8.59,
  'State': 'Idaho'},
 {'annual_inc': 68000.0,
  'loan_amnt': 14000.0,
  'dti': 17.7,
  'default_rate': 11.21,
  'State': 'Illinois'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12100.0,
  'dti': 19.31,
  'default_rate': 13.48,
  'State': 'Indiana'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12750.0,
  'dti': 19.47,
  'default_rate': 10.73,
  'State': 'Kansas'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12000.0,
  'dti': 19.295,
  'default_rate': 13.38,
  'State': 'Kentucky'},
 {'annual_inc': 65000.0,
  'loan_amnt': 12700.0,
  'dti': 19.1,
  'default_rate': 15.17,
  'State': 'Louisiana'},
 {'annual_inc': 70000.0,
  'loan_amnt': 14000.0,
  'dti': 16.31,
  'default_rate': 12.5,
  'State': 'Massachusetts'},
 {'annual_inc': 75000.0,
  'loan_amnt': 14400.0,
  'dti': 17.4,
  'default_rate': 13.71,
  'State': 'Maryland'},
 {'annual_inc': 59860.0,
  'loan_amnt': 12000.0,
  'dti': 19.884999999999998,
  'default_rate': 6.45,
  'State': 'Maine'},
 {'annual_inc': 60522.0,
  'loan_amnt': 12000.0,
  'dti': 18.41,
  'default_rate': 13.25,
  'State': 'Michigan'},
 {'annual_inc': 62000.0,
  'loan_amnt': 12000.0,
  'dti': 18.37,
  'default_rate': 13.03,
  'State': 'Minnesota'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12000.0,
  'dti': 19.15,
  'default_rate': 13.76,
  'State': 'Missouri'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12000.0,
  'dti': 20.15,
  'default_rate': 15.49,
  'State': 'Mississippi'},
 {'annual_inc': 55000.0,
  'loan_amnt': 12000.0,
  'dti': 19.37,
  'default_rate': 11.1,
  'State': 'Montana'},
 {'annual_inc': 60500.0,
  'loan_amnt': 12500.0,
  'dti': 18.52,
  'default_rate': 13.72,
  'State': 'North Carolina'},
 {'annual_inc': 60000.0,
  'loan_amnt': 14000.0,
  'dti': 20.14,
  'default_rate': 10.55,
  'State': 'North Dakota'},
 {'annual_inc': 55612.0,
  'loan_amnt': 12000.0,
  'dti': 19.365000000000002,
  'default_rate': 12.88,
  'State': 'Nebraska'},
 {'annual_inc': 66000.0,
  'loan_amnt': 12800.0,
  'dti': 18.59,
  'default_rate': 9.51,
  'State': 'New Hampshire'},
 {'annual_inc': 74500.0,
  'loan_amnt': 14300.0,
  'dti': 16.35,
  'default_rate': 13.46,
  'State': 'New Jersey'},
 {'annual_inc': 62000.0,
  'loan_amnt': 12850.0,
  'dti': 19.95,
  'default_rate': 14.25,
  'State': 'New Mexico'},
 {'annual_inc': 62000.0,
  'loan_amnt': 12000.0,
  'dti': 18.1,
  'default_rate': 14.65,
  'State': 'Nevada'},
 {'annual_inc': 66000.0,
  'loan_amnt': 12300.0,
  'dti': 15.81,
  'default_rate': 14.33,
  'State': 'New York'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12000.0,
  'dti': 19.42,
  'default_rate': 12.87,
  'State': 'Ohio'},
 {'annual_inc': 62000.0,
  'loan_amnt': 13000.0,
  'dti': 19.54,
  'default_rate': 15.23,
  'State': 'Oklahoma'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12000.0,
  'dti': 17.36,
  'default_rate': 9.66,
  'State': 'Oregon'},
 {'annual_inc': 62499.0,
  'loan_amnt': 12125.0,
  'dti': 18.87,
  'default_rate': 13.46,
  'State': 'Pennsylvania'},
 {'annual_inc': 65000.0,
  'loan_amnt': 12000.0,
  'dti': 16.91,
  'default_rate': 11.56,
  'State': 'Rhode Island'},
 {'annual_inc': 60500.0,
  'loan_amnt': 12800.0,
  'dti': 19.2,
  'default_rate': 10.32,
  'State': 'South Carolina'},
 {'annual_inc': 54000.0,
  'loan_amnt': 12000.0,
  'dti': 20.71,
  'default_rate': 13.95,
  'State': 'South Dakota'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12050.0,
  'dti': 19.62,
  'default_rate': 13.41,
  'State': 'Tennessee'},
 {'annual_inc': 70000.0,
  'loan_amnt': 14000.0,
  'dti': 18.92,
  'default_rate': 12.92,
  'State': 'Texas'},
 {'annual_inc': 63000.0,
  'loan_amnt': 13000.0,
  'dti': 18.43,
  'default_rate': 12.41,
  'State': 'Utah'},
 {'annual_inc': 72000.0,
  'loan_amnt': 14675.0,
  'dti': 18.09,
  'default_rate': 13.24,
  'State': 'Virginia'},
 {'annual_inc': 58955.0,
  'loan_amnt': 12000.0,
  'dti': 19.88,
  'default_rate': 8.43,
  'State': 'Vermont'},
 {'annual_inc': 66500.0,
  'loan_amnt': 13800.0,
  'dti': 17.66,
  'default_rate': 10.73,
  'State': 'Washington'},
 {'annual_inc': 60000.0,
  'loan_amnt': 12000.0,
  'dti': 18.98,
  'default_rate': 12.2,
  'State': 'Wisconsin'},
 {'annual_inc': 60000.0,
  'loan_amnt': 13000.0,
  'dti': 19.81,
  'default_rate': 9.65,
  'State': 'West Virginia'},
 {'annual_inc': 65000.0,
  'loan_amnt': 14400.0,
  'dti': 20.23,
  'default_rate': 11.19,
  'State': 'Wyoming'}]

In [74]:
state_stats_doc = "The following lines contain information about the median annual income, median loan amounts, median debt-to-income ratio and default rates for states in USA:\n"
for rec in state_dict:
    state_stats_doc += f"""For the state of {rec["State"]}, the median annual income is ${rec["annual_inc"]}, the median loan amount is ${rec["loan_amnt"]}, \
the median debt-to-income ratio is {rec["dti"]}, and the loan default rate is {rec["default_rate"]}%.\n"""
    

print(state_stats_doc)

The following lines contain information about the median annual income, median loan amounts, median debt-to-income ratio and default rates for states in USA:
For the state of Alaska, the median annual income is $72000.0, the median loan amount is $15850.0, the median debt-to-income ratio is 18.395, and the loan default rate is 13.18%.
For the state of Alabama, the median annual income is $60441.520000000004, the median loan amount is $12150.0, the median debt-to-income ratio is 19.99, and the loan default rate is 15.76%.
For the state of Arkansas, the median annual income is $57000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 20.19, and the loan default rate is 15.46%.
For the state of Arizona, the median annual income is $62000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 17.97, and the loan default rate is 13.02%.
For the state of California, the median annual income is $70000.0, the median loan amount is $13000.0, the median debt-to-income ratio is 16.11, and the loan default rate is 13.42%.
For the state of Colorado, the median annual income is $65000.0, the median loan amount is $13000.0, the median debt-to-income ratio is 17.69, and the loan default rate is 10.45%.
For the state of Connecticut, the median annual income is $70000.0, the median loan amount is $13000.0, the median debt-to-income ratio is 16.74, and the loan default rate is 10.71%.
For the state of District of Columbia, the median annual income is $82000.0, the median loan amount is $14087.5, the median debt-to-income ratio is 14.78, and the loan default rate is 9.47%.
For the state of Delaware, the median annual income is $65000.0, the median loan amount is $12500.0, the median debt-to-income ratio is 18.67, and the loan default rate is 12.57%.
For the state of Florida, the median annual income is $60000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 18.07, and the loan default rate is 14.04%.
For the state of Georgia, the median annual income is $65000.0, the median loan amount is $13250.0, the median debt-to-income ratio is 18.49, and the loan default rate is 11.88%.
For the state of Hawaii, the median annual income is $65000.0, the median loan amount is $14400.0, the median debt-to-income ratio is 18.83, and the loan default rate is 13.96%.
For the state of Iowa, the median annual income is $45000.0, the median loan amount is $7200.0, the median debt-to-income ratio is 16.49, and the loan default rate is 14.29%.
For the state of Idaho, the median annual income is $55000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 19.14, and the loan default rate is 8.59%.
For the state of Illinois, the median annual income is $68000.0, the median loan amount is $14000.0, the median debt-to-income ratio is 17.7, and the loan default rate is 11.21%.
For the state of Indiana, the median annual income is $60000.0, the median loan amount is $12100.0, the median debt-to-income ratio is 19.31, and the loan default rate is 13.48%.
For the state of Kansas, the median annual income is $60000.0, the median loan amount is $12750.0, the median debt-to-income ratio is 19.47, and the loan default rate is 10.73%.
For the state of Kentucky, the median annual income is $60000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 19.295, and the loan default rate is 13.38%.
For the state of Louisiana, the median annual income is $65000.0, the median loan amount is $12700.0, the median debt-to-income ratio is 19.1, and the loan default rate is 15.17%.
For the state of Massachusetts, the median annual income is $70000.0, the median loan amount is $14000.0, the median debt-to-income ratio is 16.31, and the loan default rate is 12.5%.
For the state of Maryland, the median annual income is $75000.0, the median loan amount is $14400.0, the median debt-to-income ratio is 17.4, and the loan default rate is 13.71%.
For the state of Maine, the median annual income is $59860.0, the median loan amount is $12000.0, the median debt-to-income ratio is 19.884999999999998, and the loan default rate is 6.45%.
For the state of Michigan, the median annual income is $60522.0, the median loan amount is $12000.0, the median debt-to-income ratio is 18.41, and the loan default rate is 13.25%.
For the state of Minnesota, the median annual income is $62000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 18.37, and the loan default rate is 13.03%.
For the state of Missouri, the median annual income is $60000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 19.15, and the loan default rate is 13.76%.
For the state of Mississippi, the median annual income is $60000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 20.15, and the loan default rate is 15.49%.
For the state of Montana, the median annual income is $55000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 19.37, and the loan default rate is 11.1%.
For the state of North Carolina, the median annual income is $60500.0, the median loan amount is $12500.0, the median debt-to-income ratio is 18.52, and the loan default rate is 13.72%.
For the state of North Dakota, the median annual income is $60000.0, the median loan amount is $14000.0, the median debt-to-income ratio is 20.14, and the loan default rate is 10.55%.
For the state of Nebraska, the median annual income is $55612.0, the median loan amount is $12000.0, the median debt-to-income ratio is 19.365000000000002, and the loan default rate is 12.88%.
For the state of New Hampshire, the median annual income is $66000.0, the median loan amount is $12800.0, the median debt-to-income ratio is 18.59, and the loan default rate is 9.51%.
For the state of New Jersey, the median annual income is $74500.0, the median loan amount is $14300.0, the median debt-to-income ratio is 16.35, and the loan default rate is 13.46%.
For the state of New Mexico, the median annual income is $62000.0, the median loan amount is $12850.0, the median debt-to-income ratio is 19.95, and the loan default rate is 14.25%.
For the state of Nevada, the median annual income is $62000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 18.1, and the loan default rate is 14.65%.
For the state of New York, the median annual income is $66000.0, the median loan amount is $12300.0, the median debt-to-income ratio is 15.81, and the loan default rate is 14.33%.
For the state of Ohio, the median annual income is $60000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 19.42, and the loan default rate is 12.87%.
For the state of Oklahoma, the median annual income is $62000.0, the median loan amount is $13000.0, the median debt-to-income ratio is 19.54, and the loan default rate is 15.23%.
For the state of Oregon, the median annual income is $60000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 17.36, and the loan default rate is 9.66%.
For the state of Pennsylvania, the median annual income is $62499.0, the median loan amount is $12125.0, the median debt-to-income ratio is 18.87, and the loan default rate is 13.46%.
For the state of Rhode Island, the median annual income is $65000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 16.91, and the loan default rate is 11.56%.
For the state of South Carolina, the median annual income is $60500.0, the median loan amount is $12800.0, the median debt-to-income ratio is 19.2, and the loan default rate is 10.32%.
For the state of South Dakota, the median annual income is $54000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 20.71, and the loan default rate is 13.95%.
For the state of Tennessee, the median annual income is $60000.0, the median loan amount is $12050.0, the median debt-to-income ratio is 19.62, and the loan default rate is 13.41%.
For the state of Texas, the median annual income is $70000.0, the median loan amount is $14000.0, the median debt-to-income ratio is 18.92, and the loan default rate is 12.92%.
For the state of Utah, the median annual income is $63000.0, the median loan amount is $13000.0, the median debt-to-income ratio is 18.43, and the loan default rate is 12.41%.
For the state of Virginia, the median annual income is $72000.0, the median loan amount is $14675.0, the median debt-to-income ratio is 18.09, and the loan default rate is 13.24%.
For the state of Vermont, the median annual income is $58955.0, the median loan amount is $12000.0, the median debt-to-income ratio is 19.88, and the loan default rate is 8.43%.
For the state of Washington, the median annual income is $66500.0, the median loan amount is $13800.0, the median debt-to-income ratio is 17.66, and the loan default rate is 10.73%.
For the state of Wisconsin, the median annual income is $60000.0, the median loan amount is $12000.0, the median debt-to-income ratio is 18.98, and the loan default rate is 12.2%.
For the state of West Virginia, the median annual income is $60000.0, the median loan amount is $13000.0, the median debt-to-income ratio is 19.81, and the loan default rate is 9.65%.
For the state of Wyoming, the median annual income is $65000.0, the median loan amount is $14400.0, the median debt-to-income ratio is 20.23, and the loan default rate is 11.19%.

In [75]:
with open("rag_docs/data_docs/state_stats.txt", "w") as f:
    f.write(state_stats_doc)

## Purpose-wise

In [ ]:
purposes = all_data["purpose"].unique()
purposes

array(['debt_consolidation', 'small_business', 'home_improvement',
       'major_purchase', 'credit_card', 'other', 'house', 'vacation',
       'car', 'medical', 'moving', 'renewable_energy', 'wedding',
       'educational'], dtype=object)

In [84]:
purpose_df = all_data.groupby(by = ["purpose"], as_index= False)["loan_status"].count()
purpose_df["default_loan_count"] = all_data.loc[all_data["loan_status"] == 0].groupby(by = "purpose", as_index=False)["loan_status"].count()["loan_status"]
purpose_df["default_rate"] = round(purpose_df["default_loan_count"] * 100 / purpose_df["loan_status"], 2)
purpose_df.drop(columns = ["loan_status", "default_loan_count"], inplace = True)
purpose_df

               purpose  default_rate
0                  car          9.87
1          credit_card         10.61
2   debt_consolidation         14.10
3          educational         17.13
4     home_improvement         11.49
5                house         12.89
6       major_purchase         12.22
7              medical         13.60
8               moving         15.86
9                other         13.16
10    renewable_energy         16.57
11      small_business         20.34
12            vacation         12.41
13             wedding         12.14

In [85]:
total = all_data.shape[0]
defaults = all_data.loc[all_data["loan_status"] == 0].shape[0]
rate = round(defaults * 100 / total, 2)
rate

13.04

In [92]:
purpose_df = pd.concat([pd.DataFrame(data = {"purpose": ["all loans"], "default_rate": [rate]}), purpose_df], ignore_index=True)
purpose_df

               purpose  default_rate
0            all loans         13.04
1                  car          9.87
2          credit_card         10.61
3   debt_consolidation         14.10
4          educational         17.13
5     home_improvement         11.49
6                house         12.89
7       major_purchase         12.22
8              medical         13.60
9               moving         15.86
10               other         13.16
11    renewable_energy         16.57
12      small_business         20.34
13            vacation         12.41
14             wedding         12.14

In [94]:
purpose_dict = purpose_df.to_dict(orient="records")
purpose_dict.pop(0)
purpose_dict

[{'purpose': 'car', 'default_rate': 9.87},
 {'purpose': 'credit_card', 'default_rate': 10.61},
 {'purpose': 'debt_consolidation', 'default_rate': 14.1},
 {'purpose': 'educational', 'default_rate': 17.13},
 {'purpose': 'home_improvement', 'default_rate': 11.49},
 {'purpose': 'house', 'default_rate': 12.89},
 {'purpose': 'major_purchase', 'default_rate': 12.22},
 {'purpose': 'medical', 'default_rate': 13.6},
 {'purpose': 'moving', 'default_rate': 15.86},
 {'purpose': 'other', 'default_rate': 13.16},
 {'purpose': 'renewable_energy', 'default_rate': 16.57},
 {'purpose': 'small_business', 'default_rate': 20.34},
 {'purpose': 'vacation', 'default_rate': 12.41},
 {'purpose': 'wedding', 'default_rate': 12.14}]

In [98]:
purpose_wise_stats = f"""For all loans, the default rate is {purpose_df.loc[purpose_df["purpose"] == "all loans"]["default_rate"].values[0]}%. \
The following lines include the loan default rates amongst loans taken for various purposes:\n"""

for purpose in purpose_dict:
    purpose_wise_stats += f"""For {purpose["purpose"].replace("_", " ")} purposes, the default rate is {purpose["default_rate"]}%\n"""

print(purpose_wise_stats)

For all loans, the default rate is 13.04%. The following lines include the loan default rates amongst loans taken for various purposes:
For car purposes, the default rate is 9.87%
For credit card purposes, the default rate is 10.61%
For debt consolidation purposes, the default rate is 14.1%
For educational purposes, the default rate is 17.13%
For home improvement purposes, the default rate is 11.49%
For house purposes, the default rate is 12.89%
For major purchase purposes, the default rate is 12.22%
For medical purposes, the default rate is 13.6%
For moving purposes, the default rate is 15.86%
For other purposes, the default rate is 13.16%
For renewable energy purposes, the default rate is 16.57%
For small business purposes, the default rate is 20.34%
For vacation purposes, the default rate is 12.41%
For wedding purposes, the default rate is 12.14%

In [99]:
with open("rag_docs/data_docs/purpose_wise_stats.txt", "w") as f:
    f.write(purpose_wise_stats)